*{padding: 0;margin: 0;box-sizing: border-box;;
}
body{
  background: rgb(68, 68, 68);
  transition: all .05s ease-in-out;
}
.card-container{
  margin: 2rem auto;
}
.card{
  box-shadow: 0 5px 10px black, 0 2px 20px black;
  transition: all .3s ease-in-out;
  direction: rtl;
  transform: scale(0.99);
}
.card:hover{
transform: scale(1.05);
transition: all .22s ease-in-out;
cursor: pointer;
}
img.card-img-top{
  position: fixed;
  border-radius: 0 0 50% 50%;
  width: 120px;
  height: 120px;
  z-index: 1;
  box-shadow: 0 2px 4px black, 0 2px 8px rgb(37, 37, 37);
  transition: .15s ease-in-out;
  margin: 0 1rem;
}
img.card-img-top:active{
  position: absolute;
  transition: .15s ease-in-out;
  border-radius: 0 0 5px;

}
.card-name{
  font-size: 2.4em;
  text-align: left;
  text-shadow: 0 5px 10px black, 0 2px 6px rgb(37, 37, 37);
  transition:  .15s ease-in-out;
  font-family: 'Aref Ruqaa', serif;
  padding-top: 2rem;
}
.card-name:hover{
  transition:  .15s ease-in-out;
  text-shadow: 0 10px 10px black, 0 2px 20px rgb(0, 0, 0);
}

.card-text,.text-quote{
  position: relative;
  font-weight: 500;
  direction: ltr;
  transition: all .15s ease-in-out;
  text-align: left;
  z-index: 2;
  text-shadow: 0 5px 10px black, 0 2px 10px rgb(0, 0, 0);
  color: rgb(231, 222, 222);
}
.blockquote{
  font-size: 1rem;
  margin-top: 1.5rem;
  box-shadow: 0 1px 2px black, 0 2px 30px rgb(0, 0, 0);
  border-radius: 8px;
  padding: .5rem;
}
.blockquote:hover{
  box-shadow: 0 1px 2px black, 0 2px 30px rgb(255, 255, 255);
}
.fa-home{
  color: hsl(20, 20%, 43%);
}
.fa-phone-alt{
  color: hsl(20, 50%, 43%);
}
.fa-birthday-cake{
  color: hsl(20, 75%, 43%);
}
.fa-mail-bulk{
  color: hsl(20, 100%, 73%);
}
.mini-text{
  font-size: 70%;
  transition: all .15s ease-in-out;
}
.mini-text:hover{
  transform: scale(1.05);
}
.text-muted{
  text-align: left;
  font-size: .75rem;
}
.fa-thumbs-up{
  max-height: 50px;
}
.ltr{
  direction: ltr;
}
.like-btn{
  /* border-radius: 75% 0 0 0; */
  clip-path: circle();
  box-shadow: 0 -5px 10px black, 0 -5px 20px rgb(119, 131, 161);
  transition: all .15s ease-in-out;
  padding: .8rem 1rem;
  margin: 1rem;
  animation: anima .5s ease-in-out;
}
@keyframes anima{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.like-btn:hover{
  transition: all .15s ease-in-out;
  transform: scale(1.15) translateX(-10px) translateY(-10px);
  border-radius: 7px;
  clip-path: none;
  margin-right: 1rem;
}
.color-dark{
  margin-bottom: 2rem solid black;
  }


 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
    .card-container{
      max-width: 99%;
    }
    .card-name{
      font-size: 1.2rem;
      } 
      .card-name:hover{
        transition: all .15s ease-in-out;
      }
      .like-btn{
        clip-path: ellipse();
        padding: 1rem;
        margin: 1rem 0;      
      }
      .card-name{
        z-index: 10;
      }
      .blockquote{
        font-size: .8rem;
      }
  }
 /* // Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
  .card-container{
    max-width: 95%;
  }
  .card-name{
    font-size: 1.8rem;
    } 
}
  @media (min-width: 991.98px) { 
    .card-container{
      max-width: 50%;
    } 
  }