*{padding: 0;margin: 0;box-sizing: border-box;}
body{
  background: rgb(68, 68, 68);
}
.card-container{
  margin: 2rem auto;
}
.card{
  background: #000;
  box-shadow: 0 5px 10px black, 0 2px 20px black;
  transition: all .3s ease-in-out;
}
.card:hover{
transform: scale(1.05);
transition: all .15s ease-in-out;
cursor: pointer;
}
img.card-img-top{
  position: relative;
  border-radius: 0 0 50% 50%;
  min-height: 100px;
  min-width: 100px;
  max-width: 150px;
  box-shadow: 0 5px 10px black, 0 2px 6px rgb(37, 37, 37);
  transition: .3s ease-in-out;
}
img.card-img-top:hover{
  transition: .2s ease-in-out;
  border-radius: 50% 50% 0 0;
  padding-left: 3rem;
}
.card-name{
  text-align: left;
  text-shadow: 0 5px 10px black, 0 2px 6px rgb(37, 37, 37);
  transition: all .15s ease-in-out;
}
.card-name{
  font-size: 3em;
}
.card-name:hover{
  transform: scale(1.1) translateX(20px);
  transition: all .15s ease-in-out;

}
.card-text{
  font-weight: 100;
  font-size: 1rem;
  direction: ltr;
  transition: all .15s ease-in-out;
  text-align: left;

}
.fa-home{
  color: hsl(20, 20%, 43%);
}
.fa-phone-alt{
  color: hsl(20, 50%, 43%);
}
.fa-birthday-cake{
  color: hsl(20, 75%, 43%);
}
.fa-mail-bulk{
  color: hsl(20, 100%, 73%);
}
.mini-text{
  font-size: 60%;
  transition: all .15s ease-in-out;
}
.mini-text:hover{
  transform: scale(1.05);
}
.text-muted{
  text-align: left;
  font-size: .75rem;
}
.fa-thumbs-up{
  max-height: 50px;
}
.like-btn{
  /* border-radius: 75% 0 0 0; */
  clip-path: circle();
  box-shadow: 0 -5px 10px black, 0 -5px 20px rgb(119, 131, 161);
  transition: all .15s ease-in-out;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;

}
.like-btn:hover{
  transition: all .15s ease-in-out;
  transform: scale(1.15) translateX(-10px) translateY(-10px);
  border-radius: 7px;
  clip-path: none;
  margin-right: 1rem;

}



 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
    .card-container{
      max-width: 99%;
    }
    .card-name{
      font-size: 1.5rem;
      } 
  }
 /* // Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
  .card-container{
    max-width: 95%;
  }
  .card-name{
    font-size: 2.5rem;
    } 
}
  @media (min-width: 991.98px) { 
    .card-container{
      max-width: 50%;
    } 
  }